<!DOCTYPE html>
<html>
<head>
    <title>Service</title>
    <link rel="stylesheet" type="text/css" href="/lilyane/style.css">
</head>
<body>
    <header>
        <h1>W E L C O M E</h1>
    </header>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/service" class="active">Services</a>
        <a href="/contact">Contact</a>
    </nav>
    <section>
        <div class="message">
            <h2>Halaman service</h2>
            <p>Berisi tentang layanan apa yang di berikan pembuat</p>
        </div>
        <p style="text-align: right;padding-bottom: 0;">Di buat dengan cinta oleh Lilyane</p>
        <footer>
            <p>&copy; 2024 Lilyane. All Rights Reserved.</p>
        </footer>
    </section>
</body>
</html>
